<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Give Me Back My Screenshot</string>
	<key>CFBundleExecutable</key>
	<string>GiveMeBackMyScreenshot</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.givemebackmyscreenshot.app</string>
	<key>CFBundleName</key>
	<string>Give Me Back My Screenshot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Give Me Back My Screenshot watches your screenshot folder so it can copy new screenshots to the clipboard.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Give Me Back My Screenshot watches your screenshot folder so it can copy new screenshots to the clipboard.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Give Me Back My Screenshot watches your screenshot folder so it can copy new screenshots to the clipboard.</string>
</dict>
</plist>
